---
- name: Check if private key exists
  stat:
    path: '{{ obol_charon_private_key_path }}'
  register: obol_charon_private_key_file

- name: Generate ENR address and private key
  when: not obol_charon_private_key_file.stat.exists
  register: obol_charon_enr
  command:
    cmd: '{{ obol_charon_bin_path }}/charon create enr'
    chdir: '{{ obol_charon_service_path }}'
  become: true
  become_user: '{{ obol_charon_user }}'

- name: Save Obol DVT ENR address
  when: not obol_charon_enr.changed
  copy:
    dest:    '{{ obol_charon_enr_path }}'
    content: '{{ obol_charon_enr.stdout_lines[1] }}'
